
body .medium {
   width: 300px;
   height: 300px;
}

body .large {
  width: 1200;
  height: 1000;
}

#map {
height: 400px;
width: 50%;

}
#form {
  display: inline-block;
  text-align: center;
}



#same {
  height: 450px;
  width: 100%;
}

#daycenter {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.google-map {
  width: 800px;
  height: 600px;
  margin: 0 auto;
  /*background: gray;*/
}



.transition {
    width: 100px;
    height: 100px;
    background: red;
    /*-webkit-transition: width 2s; /* Safari */*/
    transition: width 2s;
}

